<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Book</h1>
    <p>Title: <span th:text="${book.title}"></span></p>
    <p>Author: <span th:text="${book.author}"></span></p>
    <p>Price: <span th:text="${book.price}"></span></p>
    <p>Description: <span th:text="${book.description}"></span></p>
    <p>ISBN: <span th:text="${book.isbn}"></span></p>
    <p>Publisher: <span th:text="${book.publisher}"></span></p>
    <p>Category: <span th:text="${book.category}"></span></p>
</body>
</html>